DecisionManagementAndroidApp/app/app.iml
DecisionManagementAndroidApp/app/app.iml
DecisionManagementAndroidApp/app/app.iml
DecisionManagement/.settings/org.eclipse.jdt.core.prefs
DecisionManagementAndroidApp/app/app.iml
DecisionManagementShared/.classpath
DecisionManagementShared/.settings/org.eclipse.jdt.core.prefs
DecisionManagementAndroidApp/app/app.iml
DecisionManagementAndroidApp/build.properties

DecisionManagementAndroidApp/build.properties
DecisionManagementShared/bin/at/jku/se/dm/shared/NodeString.class
*.class
