DecisionManagementAndroidApp/app/app.iml
DecisionManagementAndroidApp/app/app.iml
DecisionManagementAndroidApp/app/app.iml
DecisionManagement/.settings/org.eclipse.jdt.core.prefs
DecisionManagementAndroidApp/app/app.iml
DecisionManagementShared/.classpath
DecisionManagementShared/.settings/org.eclipse.jdt.core.prefs
DecisionManagementAndroidApp/app/app.iml
DecisionManagementAndroidApp/build.properties

DecisionManagementAndroidApp/build.properties
DecisionManagementShared/bin/at/jku/se/dm/shared/NodeString.class
*.class
DecisionManagement/.settings/org.eclipse.jdt.core.prefs
DecisionManagementShared/.classpath
DecisionManagementAndroidApp/app/src/main/java/at/jku/se/decisiondocu/restclient/RestHelper.java
DecisionManagementShared/.settings/org.eclipse.jdt.core.prefs
DecisionDocu/.settings/org.eclipse.wst.common.component
