
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Decisions dependency report</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Show connects </div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="form-group">
					<div class="col-lg-1">
						<label class="control-label" for="">Select decision</label> 
					</div>
					<div class="col-lg-3">
						<div class="form-group">
							<div class="col-lg-10">
								<select ng-model="selectedDecision" ng-change="updateConnects()" class="form-control">
									<option ng-repeat="d in decisions" value="{{d.id}}">{{d.name}}</option>
								</select>
							</div>
						</div>
					</div>
					
					<div class="col-lg-1">
						<label class="control-label" for="">Select dependency</label>  
					</div>
					<div class="col-lg-3">
						<div class="col-lg-10">
							<select ng-model="selectedLink" ng-change="updateGraph()" class="form-control">
								<option ng-repeat="l in links" value="{{l.id}}">{{l.name}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.panel-body -->
		
	<div>
	<go-diagram-state go-model="model"
		style="border: solid 1px blue; width:100%; height:300px">
	</go-diagram-state>
	</div>
		
		
	</div>
	
	<!-- /.panel -->
	

	
	
</div>



