
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Criteria Seach Report midn </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Search				
            </div>
            <!-- /.panel-heading -->
            
           
            <div class="panel-body">
            
            
                <!-- 1. alternative filter -->
                <div class="form-group">
                    <div class="col-lg-4">
                        <label class="control-label" for="">Alternatives</label>
                    </div>
					<div class="col-lg-8">
						<div class="form-group">
							<div class="col-lg-8">
								<select ng-model="selectedAlternative" ng-change="updateAlternativeFilter()" class="form-control">
									<option ng-repeat="a in alternatives" value="{{a.id}}">{{a.name }}</option>
								</select>
							</div>
						</div>
					</div>
                </div>
            
            
                <!-- 2. quality attributes filter -->
                <div class="form-group">
                    <div class="col-lg-4">
                        <label class="control-label" for="">Quality attributes</label>
                    </div>
					<div class="col-lg-8">
						<div class="form-group">
							<div class="col-lg-8">
								<select ng-model="selectedQuality" ng-change="updateQualityFilter()" class="form-control">
									<option ng-repeat="q in quality" value="{{q.id}}">{{q.name }}</option>
								</select>
							</div>
						</div>
					</div>
                </div>
                
                <!-- 3. influence factors filter -->
                <div class="form-group">
                    <div class="col-lg-4">
                        <label class="control-label" for="">Influence Factors</label>
                    </div>
					<div class="col-lg-8">
						<div class="form-group">
							<div class="col-lg-8">
								<select ng-model="selectedInfluence" ng-change="updateInfluenceFilter()" class="form-control">
									<option ng-repeat="f in factors" value="{{f.id}}">{{f.name }}</option>
								</select>
							</div>
						</div>
					</div>
                </div>
                
				<!-- 4. consequences filter -->
                <div class="form-group">
                    <div class="col-lg-4">
                        <label class="control-label" for="">Consequences</label>
                    </div>
					<div class="col-lg-8">
						<div class="form-group">
							<div class="col-lg-8">
								<select ng-model="selectedConsequence" ng-change="updateConsequenceFilter()" class="form-control">
									<option ng-repeat="c in consequences" value="{{c.id}}">{{c.name }}</option>
								</select>
							</div>
						</div>
					</div>
                </div>
                
                <!-- 5. rationales filter -->
                <div class="form-group">
                    <div class="col-lg-4">
                        <label class="control-label" for="">Rationales</label>
                    </div>
					<div class="col-lg-8">
						<div class="form-group">
							<div class="col-lg-8">
								<select ng-model="selectedRationales" ng-change="updateRationalesFilter()" class="form-control">
									<option ng-repeat="r in rationales" value="{{r.id}}">{{r.name }}</option>
								</select>
							</div>
						</div>
					</div>
                </div>

  
<!--                 <div class="form-group">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <button ng-click="showResult()" class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div> 
-->
                               
            </div>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>


<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Latest activities
			</div>
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover" id="dataTables-home">
						<thead>
							<tr>
								<th>Name of Decision</th>
								
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="d in decisionsResult" class="odd gradeX">
								<td>{{ d.name }} </td>
								
								<td><button ng-click="navigate(d.id)" class="btn btn-default" type="button"><i class="glyphicon glyphicon-pencil"></i></button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>



</div>
