<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Your Profile</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">User</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="form-group">
					<label class="col-lg-2 control-label" for="">Firstname:</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" value=""
							ng-model="firstname">
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-lg-2 control-label" for="">Lastname:</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" value=""
							ng-model="lastname">
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-lg-2 control-label" for="">E-Mail:</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" value="" ng-model="email">
					</div>
				</div>
			</div>
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-lg-2 control-label" for="">Picture</label>
					<div class="col-lg-3">
					<img height="50" ng-src="{{profilePicture}}" ng-show="profilePicture != null" />
							
					</div>
				</div>
			</div>
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-lg-2 control-label" for="">Picture</label>
					<div class="col-lg-3">
							<input type="file" file-model="myFile" />
							<button ng-click="uploadFile()">upload me</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-lg-2 control-label" for="">Teams:</label>
					<div class="col-lg-3">
						<select class="form-control" size="3">
							<option ng-repeat="t in teams">{{ t }}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<button type="button" class="col-lg-2 btn btn-lg btn-default">Save</button>
					<div class="panel-body">
				<div class="form-group">
					<label class="col-lg-2 control-label" for="">Picture</label>
					<div class="col-lg-3"><a ng-click="downloadFile()"><span class="fa fa-file-pdf-o"></span></a>
							
					</div>
				</div>
			</div>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
</div>
</
