
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus ng-model="eMail">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="password">
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <button ng-click="login()" class="btn btn-lg btn-success btn-block">Login</button>
                        <button ng-click="openRegisterModal()" class="btn btn-lg btn-success btn-block">Sign Up</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="registerModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="text-align: center; color: #fff; background-color:#5cb85c;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style=""><span class="glyphicon glyphicon-lock"></span> Sign Up</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="firstname"><span class="glyphicon glyphicon-user"></span> Firstname</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Firstname"  ng-required ng-model="firstname">
                    </div>
                    <div class="form-group">
                        <label for="lastname"><span class="glyphicon glyphicon-user"></span> Lastname</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Lastname"  ng-required ng-model="lastname">
                    </div>
                    <div class="form-group">
                        <label for="email"><span class="glyphicon glyphicon-user"></span> E-Mail</label>
                        <input type="email" class="form-control" id="usrname" placeholder="Enter email"  ng-required ng-model="signInEmail">
                    </div>
                    <div class="form-group">
                        <label for="password1"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" class="form-control" id="password1" placeholder="Enter password"  ng-required ng-model="password1">
                    </div>
                    <div class="form-group">
                        <label for="password2"><span class="glyphicon glyphicon-eye-open"></span> Repeat password</label>
                        <input type="password" class="form-control" id="password2" placeholder="Repeat password"  ng-required ng-model="password2">
                    </div>

                    <button ng-click="register()" type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Sign up</button>

                    <div class="bs-example">
                        <div class="alert alert-danger fade in" id="passwordError" style="display: none;">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Error!</strong> Please check the entered passwords.
                        </div>
                    </div>
                    <div class="bs-example">
                        <div class="alert alert-danger fade in" id="emailError" style="display: none;">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Error!</strong> E-Mail already in use.
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


